[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "==3.1.2"
opencv-python = "==4.1.2.30"
ipython = "*"
scikit-learn = "*"
torch = "==1.2.0"
torchvision = "==0.4.0"
tensorflow = "==1.13.1"
scikit-image = "==0.16.1"
pipenv = "*"

[requires]
python_version = "3.7"
